* {
  border: none;
  font-family: MonaspiceRn NFP, sans-serif;
  font-size: 14px;
}

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  /*  background-color: #12151d;*/
  background-color: rgba(0, 0, 0, 0);
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#mode,
#cpu,
#memory,
#temperature,
#custom-media,
#custom-fans,
#custom-arch,
#clock,
#idle_inhibitor,
#window,
#language,
#pulseaudio,
#backlight,
#battery,
#network,
#bluetooth,
#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-temperature,
#tray {
  background-color: #1e222a;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#workspaces button {
  padding: 0 5px;
  min-width: 20px;
  color: #61afef;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  color: #c678dd;
}

#workspaces button.urgent {
  color: #e06c75;
}

#cpu {
  color: #61afef;
}

#memory {
  color: #c678dd;
}

#custom-notification {
  font-family: 'MonaspiceRn NFP';
  margin-right: 2px;
  margin-left: 2px;
  color: #1e222a;
}

#temperature {
  color: #d19a66;
}

#temperature.critical {
  background-color: #e06c75;
}

#custom-media {
  background-color: #c678dd;
  color: #1e222a;
}

#custom-fans {
  color: #98c379;
}

#custom-arch {
  color: #1793d1;
  font-size: 20px;
}

#clock {
  color: #61afef;
}

#idle_inhibitor {
  color: #abb2bf;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #1e222a;
}

#language {
  color: #56b6c2;
}

#pulseaudio {
  color: #d19a66;
}

#pulseaudio.muted {
  background-color: #e06c75;
  color: #1e222a;
}

#backlight {
  color: #61afef;
}

#battery {
  color: #98c379;
}

#battery.charging,
#battery.plugged {
  background-color: #98c379;
  color: #1e222a;
}

@keyframes blink {
  to {
    background-color: #1e222a;
    color: #e06c75;
  }
}

#battery.critical:not(.charging) {
  background-color: #e06c75;
  color: #1e222a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: #c678dd;
}

#network.disconnected {
  background-color: #e06c75;
  color: #1e222a;
}

#tray {
  min-width: 50px;
}
